extends layout

block content
    div.banner
        div.container
            h1 #{title}
            p
                | Highly flexible github card widget for every github lover. And it's open source. Please feel free to <a href="https://github.com/zmmbreeze/octocard">fork</a> and build your own <strong>Octocard</strong>.
            h2 Features
            ul
                li Show your public github info on your website
                li Easy to customize
                li Almost no <a href="http://developer.github.com/v3/#rate-limiting" >Rate Limiting</a> of Github api by using server cache
                li <a href="http://zmmbreeze.github.io/octocard/" target="_blank">Responsive design</a>
                li Open source, you can even build your own 
                    a(href="https://github.com/zmmbreeze/octocard-server") Octocard server
            <iframe src="http://ghbtns.com/github-btn.html?user=zmmbreeze&repo=octocard&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="152px" height="30px"></iframe>
            a(href="https://twitter.com/share", class="twitter-share-button", data-text="Octocard - Highly flexible github info card for every github lover.", data-size="large", data-related="zhoumm", data-hashtags="Octocard", data-url="http://octocard.in/") Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        <a href="https://github.com/zmmbreeze/octocard"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    div.themes
        div
            img(src="/stylesheets/imgs/themes.png", height=533)
    div.container
        div.alert
            div.alert-txt
                | Octocard now using a new domain name <a href="/"><strong>octocard.in</strong></a>! The old domain was stolen, so
                | for safety concern please update the <em>code</em> like this:
            div.alert-transform
                pre.oldcode
                    |  <span class="Statement">&lt;script</span>
                    |    <span class="Keyword">data-name=</span><span class="String">"#{loginName}"</span>
                    span.minus
                        | -   <span class="Keyword">src=</span><span class="String">"http://nodejs.in/octocard/bin/octocard.js"</span><span class="Statement">&gt;&lt;/script&gt;</span></span>
                    span.plus
                        | +   <span class="Keyword">src=</span><span class="String">"http://octocard.in/o.js"</span><span class="Statement">&gt;&lt;/script&gt;</span>
            div.alert-txt
                | Really sorry for this, and thank you for your support.
        div.example
            div.example-l
                h2 Example
                div#octocard Loading...
            div.example-r
                h2 How to use
                if (!logined)
                    p#step-1
                        if (!logined)
                            | 1. 
                            a.loginBtn(href="/login?next_step=1") Sign Up with Github
                    p#step-2
                        if (!logined)
                            | 2. 
                        | Copy the following html code to your website.
                        pre.sample-code
                            a(href="javascript:void 0;")#copy.copy copy
                            p#sampleCode
                                <span class="Keyword">&lt;</span><span class="Statement">script</span><span class="Keyword"> </span><span class="Type">data</span><span class="Keyword">-</span><span class="Type">name</span><span class="Keyword">=</span><span class="String">&quot;#{loginName}&quot;</span><span class="Keyword"> </span><span class="Type">src</span><span class="Keyword">=</span><span class="String">&quot;http://octocard.in/o.js&quot;</span><span class="Keyword">&gt;</span><span class="Keyword">&lt;/</span><span class="Statement">script</span><span class="Keyword">&gt;</span>
                        | More advanced tips? Checkout on <a href="https://github.com/zmmbreeze/octocard/#how-to-use">github</a>.

                if (logined)
                    div#editor
                        | &lt;script
                        |   data-name="#{usableLoginName}"
                        |   data-modules="base,details,stats,repos,eventsStatis,orgs"
                        |   data-reposNum="3"
                        |   src="http://octocard.in/o.js"&gt;
                        | &lt;/script&gt;
                    div.editor-footer
                        | Change 
                        code data-*
                        |  attributes and preview to see what's difference.
                        | And copy them to your website.
                    a(href="javascript:void 0;")#preview.btn Preview
                    a(href="https://github.com/zmmbreeze/octocard#how-to-use", target="_blank") More advanced tips!

        h2 Safety?
        ul
            li Octocard only access your public github info.
            li It is an open source project.
            li If you have a web server which installed node and mongodb, you can build your own 
                a(href="https://github.com/zmmbreeze/octocard-server") Octocard server.

        h2 More!
        ul
            li Customize 
                a(href="https://github.com/zmmbreeze/octocard#how-to-customize-theme") Octocard theme.
            li Build your own 
                a(href="https://github.com/zmmbreeze/octocard-server") Octocard server.
            li More features coming soon!

    script(src="./o.js")
    if (!logined)
        script.
            document.getElementById('octocard').innerHTML = '';
            octocard({
                name: 'zmmbreeze',
                reposNum: 5,
                api: '/api'
            });
    if (logined)
        script(src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js")
        script(src="/javascript/index.js")
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-47773457-2', 'auto');
        ga('send', 'pageview');
    // script(src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/1.3.1/ZeroClipboard.min.js")
